#wrapper{
   position: fixed;
    bottom: 0;
}

.container{
    padding: 0 !important;
}

.home-background-image-section{
    display: block;
    margin-top: 15%;
}

.home-background-image{
    max-width: 100%;
}

.main-footer{
    display: inline-block;
    width: 100%;
    background-color: #222;
    color: #fff;
    height: 40px;
    margin-top: -.8%;
    text-align: center;
}

.main-footer > *{
    display: inline-block;
    vertical-align: middle;
}

.radio-option{
    margin-right: 3%;
}

.login, .register{
    margin-top: 8%;
}

.change-password:before{
    content: url('../resourses/images/change-password.png');
}

.edit-profile:before{
    content: url('../resourses/images/edit-profile.png');
}

.nav-icon:before{
    vertical-align: sub;
    margin-right: 3%;
}

.nav-controller{
    width: 65%;
}

.search-box{
    width: 58%;
    height: 50px !important;
}

.search-input-box{
    width: 85%;
}

.search-input{
    width: 100% !important;
    height: 30px !important;
}

.search-form{
    width: 100% !important;
}

.search-icon{
    vertical-align: super;
}

.search-btn{
    height: 30px;
}

.news-feed{
    background: url("../resourses/images/news-feed.png") no-repeat;
}

.friend-request{
    background: url("../resourses/images/friend-request.png") no-repeat;
}

.icon{
    background-size: 80%;
    background-position: center;
    height: 50px;
    transition: all .1s ease-in-out;
    opacity: 0.6;
}

.icon:hover{
    background-size: 90%;
    opacity: 1;
}

.upload-cover-image{
    text-align: center;
    margin-bottom: 6%;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 1% !important;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

#upload-cover-image-preview-section {
    margin: 1% auto;
}

.upload-cover-image-preview {
    width: 100%;
    margin-bottom: 3%;
}

.upload-profile-image{
    width: 40.5%;
    margin-left: 3%;
    text-align: center;
    display: inline-block;
}

.upload-profile-image-preview{
    max-width: 80%;
    margin-bottom: 5%;
}

.edit-profile-info{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.form{
    margin-bottom: 7% !important;
    display: inline-block !important;
    vertical-align: top;
}

.edit-profile-left{
    width: 53%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

.image-preview{
    border: 2px solid #222222;
}

.buttons{
    margin-top: 2%;
}

@media (min-width: 1366px) {
    .container{
        max-width: 1024px;
    }
}