#wrapper{
    margin-top: 5%;
}

a{
    text-decoration: none !important;
}

.container{
    padding: 0 !important;
}

.home-background-image-section{
    display: block;
    margin-top: 15%;
}

.home-background-image{
    max-width: 100%;
}

.main-footer{
    display: inline-block;
    width: 100%;
    background-color: #222;
    color: #fff;
    height: 40px;
    margin-top: -.8%;
    text-align: center;
}

.main-footer > *{
    display: inline-block;
    vertical-align: middle;
}

.radio-option{
    margin-right: 3%;
}

.login, .register{
    margin-top: 8%;
}

.change-password:before{
    content: url('../resourses/images/change-password.png');
}

.edit-profile:before{
    content: url('../resourses/images/edit-profile.png');
}

.nav-icon:before{
    vertical-align: sub;
    margin-right: 3%;
}

.nav-controller{
    width: 65%;
}

.search-box{
    width: 58%;
    height: 50px !important;
    margin-left: 15%;
}

.search-input-box{
    width: 85%;
}

.search-input{
    width: 100% !important;
    height: 30px !important;
}

.search-form{
    width: 100% !important;
}

.search-icon{
    vertical-align: super;
}

.search-btn{
    height: 30px;
}

.news-feed{
    background: url("../resourses/images/news-feed.png") no-repeat;
}

.friend-request{
    background: url("../resourses/images/friend-request.png") no-repeat;
}

.icon{
    background-size: 80%;
    background-position: center;
    height: 50px;
    transition: all .1s ease-in-out;
    opacity: 0.6;
}

.icon:hover{
    background-size: 90%;
    opacity: 1;
}

.upload-cover-image{
    text-align: center;
    margin-bottom: 6%;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.file-button{
    display: none !important;
}

#upload-cover-image-preview-section {
    margin: 1% auto;
}

.upload-cover-image-preview {
    width: 100%;
    margin-bottom: 3%;
}

.upload-profile-image{
    width: 42%;
    margin-left: 3%;
    text-align: center;
    display: inline-block;
}

.upload-profile-image-preview{
    max-width: 90%;
    margin-bottom: 5%;
}

.edit-profile-info{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.form{
    margin-bottom: 7% !important;
    display: inline-block !important;
    vertical-align: top;
}

.edit-profile-left{
    width: 52%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
}

.image-preview{
    border: 2px solid #222222;
}

.buttons{
    margin-top: 2%;
}

.header-profile-image{
    max-width: 5.5% !important;
    display: inline-block;
    border-radius: 100px;
}

.header-data{
    display: inline-block !important;
}

.header-data > a {
    display: inline-block !important;
}

.friendBoxPreviewElement{
    display: inline-block;
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
    position: relative;
}

#friendsBoxList{
    padding: 0 !important;
    margin-bottom: 0;
}

.friendBoxPreviewImage{
    width: 100% !important;
}

.friendBoxPreviewElement{
    border: 1px solid #000000;
    border-top: 0;
}

.friendBoxPreviewElement:nth-of-type(-n+3){
    border-top: 1px solid #000000;
}

.friendsBox{
    width: 23% !important;
    float: right !important;
    right: 5% !important;
    position: relative;
}

.friendsTitle{
    font-weight: bold;
    display: inline-block;
    color: #3a3a3a !important;
    text-decoration: none !important;
}

.friendsCount{
    text-align: center;
}

.friendsCountLink:hover{
    color: #000000 !important;
}

.friendsTotalCount{
    color: #000000 !important;
}

.friendName{
    position: absolute;
    bottom: 0;
    color: #dadada;
    text-align:center;
    font-weight:bold;
    opacity: 0.5;
    transition: all .1s ease-in-out;
    font-size: .85em;
    word-wrap: break-word;
    width: 90px;
    margin:0 auto;
}

.friendName:hover{
    opacity: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.42);
}

.friendsBoxPreview{
    text-align: center !important;
}

/*User Wall*/

#userWall{
    margin-top: 3%;
}

#userProfileImageSection{
    position: absolute !important;
    width: 120px !important;
    height: 100px !important;
    display: inline-block;
    top: 200px;
    left: 100px;
}

.userProfileImage{
    width: 100%;
}

#userWallHeader{
    width: 100%;
}

#userCoverImageSection{
    width: 100%;
    position: absolute;
    height: 320px;
    text-align: center;
}

.userCoverImage{
    max-width: 100% !important;
    max-height: 100%;
}

@media (min-width: 1366px) {
    .container{
        max-width: 1024px;
    }
}