#wrapper{
   position: fixed;
    bottom: 0;
}

.container{
    padding: 0 !important;
}

.home-background-image-section{
    display: block;
    margin-top: 15%;
}

.home-background-image{
    max-width: 100%;
}

.main-footer{
    display: inline-block;
    width: 100%;
    background-color: #222;
    color: #fff;
    height: 40px;
    margin-top: -.8%;
    text-align: center;
}

.main-footer > *{
    display: inline-block;
    vertical-align: middle;
}

.radio-option{
    margin-right: 3%;
}

.login, .register{
    margin-top: 8%;
}

.change-password:before{
    content: url('../resourses/images/change-password.png');
}

.edit-profile:before{
    content: url('../resourses/images/edit-profile.png');
}

.nav-icon:before{
    vertical-align: sub;
    margin-right: 3%;
}

.nav-controller{
    width: 65%;
}

.search-box{
    width: 58%;
    height: 50px !important;
}

.search-input-box{
    width: 85%;
}

.search-input{
    width: 100% !important;
    height: 30px !important;
}

.search-form{
    width: 100% !important;
}

.search-icon{
    vertical-align: super;
}

.search-btn{
    height: 30px;
}

.news-feed{
    background: url("../resourses/images/news-feed.png") no-repeat;
}

.friend-request{
    background: url("../resourses/images/friend-request.png") no-repeat;
}

.icon{
    background-size: 80%;
    background-position: center;
    height: 50px;
    transition: all .1s ease-in-out;
    opacity: 0.6;
}

.icon:hover{
    background-size: 90%;
    opacity: 1;
}

@media (min-width: 1366px) {
    .container{
        max-width: 1024px;
    }
}